* {
    box-sizing: border-box;
  }
  
  :root {
    --color-bg: #333338;
    --color-active: #175fdb;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  header {
    background-color: var(--color-bg);
    padding: 2rem;
    text-align: center;
    padding-left: 38%;
  }
  header > a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
  }
  header > a:hover {
    text-decoration: underline;
    background-color: #175fdb2c;
    border-radius: 0.5rem;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  .container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
  }
  
  main {
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  main a {
    text-decoration: none;
    color: var(--color-bg);
  }
  main a:hover {
    text-decoration: underline;
  }
  
  .active-link {
    color: var(--color-active);
    cursor: default;
  }

  login {
    margin-left: 55%;
  }

  login > a {
  color: white;
  text-decoration: none;
  }

  login > a:hover {
  text-decoration: underline;
  }